.borde_rojo{
    border:2px solid red;
    color:brown;

}

.borde_verde{
    border:2px solid green;
}

.fondo_cyan{
    background-color: cyan;
}

.small{
    width:25%;
}

.medium{
    width:25%;
}

.large{
    width:25%;
}