#cajapadre
{
    background: DodgerBlue;
    display: flex;
    width: 600px;
    height: 200px;
    flex-wrap: wrap;
    align-content: stretch;
 
}
 
#cajapadre > div 
{
    background: lightgrey;
    margin: 5px;
}
#caja-1 {
    flex: 1 1 100px;
}
#caja-2 {
    flex: 1 1 100px;
}
#caja-3 {
    flex: 1 1 100px;
}
#caja-4 {
    flex: 1 1 400px;
}