.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  
}
.one {
  grid-column: 1 / 3;
  grid-row: 1;
  background-color: rgba(250, 235, 215, 0.575);
  border: 1px solid black;
}
.two {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  background-color: rgba(250, 235, 215, 0.575);
  border: 1px solid black;
}
.three {
  grid-column: 1;
  grid-row: 2 / 5;
  background-color: rgba(250, 235, 215, 0.575);
  border: 1px solid black;
}
.four {
  grid-column: 3;
  grid-row: 3;
  background-color: rgba(250, 235, 215, 0.575);
  border: 1px solid black;
}
.five {
  grid-column: 2;
  grid-row: 2/4;
  background-color: rgba(250, 235, 215, 0.575);
  border: 1px solid black;
}
.six {
  grid-column: 3;
  grid-row: 4;
  background-color: rgba(250, 235, 215, 0.575);
  border: 1px solid black;
}