* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    max-width: 100%;
    display: grid;
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
    flex-direction: column;
    align-items: center;
    justify-content: top;

}

/* Fila de asientos */
.row {
    display: flex;
    align-items: center;
    font-size: 12px;
    justify-content: center;
}

/* Numeración de fila */
.row-number {
    font-style: bold;
    font-size: 20px;
    font-weight: bold;
    margin-right: 15px;
    margin-left: 15px;
}

/* Contenedor general de asientos (izquierda, medio, derecha) */
.container {
    display: flex;
    justify-content: center;
}

/* Estilo para las secciones izquierda, media y derecha */
.container-LEFT,
.container-MID,
.container-RIGHT {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    /* Ajustar según los asientos por fila */
    grid-gap: 1px;
}

/* Centrar la sección media (pasillo más ancho) */
.container-MID {
    margin: 0 4px;
}

/* Estilo de los asientos */
.seat {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-image: url('seat-available.svg');
    transition: transform 0.2s ease-in-out;
}

/* Efecto al pasar por encima */
.seat:hover {
    transform: scale(1.2);
}

/* Asiento disponible */
.seat[data-seat-status="available"] {
    fill: #1b6ca8;
    /* Color azul como en el ejemplo */
}

/* Asiento reservado */
.seat[data-seat-status="selected"] {
    fill: #66bb6a;
    /* Color verde */
}

.pantalladibujo {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: black;
    border-bottom: solid 5px #2b2b2b;
    border-radius: 60%/0 0 80px 80px;
}

/* Header */
header {
    background-color: #2c3e50;
    color: white;
    font-size: 20px;
    width: auto;
    text-align: center;
}

/* Sub Header */
.subheader {
    background-color: #e74c3c;
    color: white;
    font-size: 20px;
    padding: 0.5%;
    text-align: center;
}

/* Footer */
footer {
    width: 100%;
    background-color: #2c3e50;
    color: #ffffff;
    text-align: center;
    padding: 1% 0;
    position:fixed;
    bottom: 0;
}

main {
    align-items: center;
    text-align: center;
    align-content: center;
    background-color: #ffffff;
    padding: 40px 100px  0px 100px;
    border-radius: 8px;
}

/* Button */
button {
    margin-top: 1%;
    background-color: #e74c3c;
    color: white;
    padding: 1% 0.5%;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 5%;
}

button:hover {
    background-color: #c0392b;
}

.todo {
    display: grid;
    grid-template-rows:
        auto auto auto;
}

p {
    font-size: 20px;
    text-align: center;
    
}

.resumen {
    background: rgb(184, 184, 184);
    text-align: center;
    border: 2px solid black;
    margin-left: 20%;
    margin-right: 20%;
}
