/* .tabla tr:nth-child(1){
    background-color: rgb(0, 0, 0);
    color: white;

}
.tabla tr{
    background-color: rgb(13, 155, 0);
    color: white;

}
.tabla tr:nth-child(even){
    background-color: rgb(46, 124, 0);
    color: white;
} */
