.contenedor{
    display: grid;
    height: 98vh;
    grid-template-areas: "header header"
                         "siderbar  main"
                         "footer  footer";
    grid-template-rows: 80px 1fr 80px;
    grid-template-columns: 300px 1fr;
    grid-auto-flow: row

}
 
#header{
  grid-area: header;
  border: 3px solid #ffffff;
  padding: 1rem;
  font-family: arial;
  color: rgb(255, 255, 255);
  text-align: center;
  background: rgb(46, 46, 46);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

#siderbar{
  grid-area: siderbar;
}
#main{
  grid-area: main;
  border: 3px solid #ffffff;
  font-family: arial;
  background: white;
  display: flex;
  font-size: 2rem;
}

#footer{
  grid-area: footer;
  border: 3px solid #ffffff;
  padding: 1rem;
  font-family: arial;
  color: white;
  text-align: center;
  background: rgb(46, 46, 46);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}    
.one{
grid-column: 1 / 3;
grid-row: 1 / 3;
}
.two{
grid-column: 2 / 4;
grid-row: 1 / 2;
}

.item{
  border: 3px solid #ffffff;
  padding: 1rem;
  font-family: arial;
  text-align: center;
  background: rgb(221, 221, 221);
  display: flex;
  font-size: 2rem;
}




