body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2E3B4E; /* Fondo oscuro */
    color: white; /* Texto en blanco */
}

.agenda {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #3B4C65; /* Color de fondo de la agenda */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    overflow: auto;
    height: 500px; /* Para simular scroll vertical */
}

h1 {
    text-align: center;
    color: white;
}

.letter {
    margin-bottom: 20px;
}

.sticky {
    position: -webkit-sticky; /* Para Safari */
    position: sticky;
    top: 0;
    background-color: #212E41; /* Color del sticky */
    color: white;
    padding: 10px;
    font-size: 1.5em;
    z-index: 1000;
    border-radius: 5px;
    border: 1px solid #111; /* Bordes para destacar el sticky */
}

.sticky + ul {
    padding-top: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin: 5px 0;
    background-color: #4A5A76; /* Fondo de los elementos de la lista */
    color: white; /* Color de texto */
    border-radius: 4px;
    border: 1px solid #111; /* Bordes de los items */
}

li:hover {
    background-color: #5D6B88; /* Color de hover */
}
