body {
    margin: 0; /* Elimina los márgenes por defecto */
    height: 100vh; /* Hace que el body ocupe toda la pantalla */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.contenedor {
    height: 600px;
    width: 900px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
    grid-template-rows: repeat(2, 1fr); /* 2 filas de igual tamaño */
    gap: 50px;
}

.cuadrado {
    width: 150px;
    height: 150px;
    display: flex; /* Uso de flexbox para centrar el contenido dentro de cada cuadrado */
    justify-content: center; /* Centrar horizontalmente el contenido dentro del cuadrado */
    align-items: center; /* Centrar verticalmente el contenido dentro del cuadrado */
    text-align: center;
}

#parrafo1{
	background-color: red;
    
}

#parrafo2{
	background-color: blue;

}

#parrafo3{
	background-color: green;

}

#parrafo4{
	background-color: yellow;
    
}

#parrafo5{
	background-color: purple;
    
}

#parrafo6{
	background-color: orange;
    
}