@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --color-background-dark: rgb(17 24 39 / var(--tw-bg-opacity, 1));
    --color-primary-dark: var(--color-background-dark);
    --color-secondary-dark: rgb(74 222 128 / var(--tw-text-opacity, 1));
    --color-background-light: beige;
    --color-primary-light: rgb(74 222 128 / var(--tw-text-opacity, 1));
    --color-secondary-light: rgb(20 41 55 / var(--tw-bg-opacity, 1));
    --color-side-menu: rgb(42, 55, 73);
}

@keyframes go-right-left {

    /* dale un nombre: "go-left-right" */
    from {
        right: 100%;
    }

    /* animar desde la izquierda: 0px */
    to {
        right: calc(100% - 100%);
    }

    /* animar a la izquierda: 100%-50px */
}

@media (min-width: 1024px){
    .boton-menu{
        display:none;
    }
}

.menu-lateral {
    background-color:var(--color-side-menu);
    z-index: 100;
    
}

.boton-menu:hover {
    background-color: var(--color-secondary-dark);
    color: var(--color-background-light);
}

.tecnologias{
    padding: 0%;
    font-size: large;
    text-align: center;
}

.menu-lateral p strong {
    color: var(--color-secondary-dark);
    /* quiero un tamaño fijo de las letras */
    font-size: 100%;
}

.menu-lateral p strong:hover {
    color: white;
}

.menu-lateral a:hover {

    text-decoration: none;
}

.boton-menu {
    /* añade un padding para situar correctamente el botón para abrir el menú lateral y alinealo en el centro superior del header */
    padding: 5px;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--color-primary-dark);
    transition: background-color 0.3s;
    /* fija la posición del menú en una esquina de la pantalla */
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    z-index: 100;
}

.copyright {
    /* deja el texto en el fondo */
    position: fixed;
    text-align: center;
    color: white;
    font-size: 1vw;
    margin-right:1%;
    bottom: 20px;
}


.menu-lateral {
    position: fixed;
    top: 0;
    right: -100%;
    width: 25%;
    padding: 1vw;
    transition: all 0.3s ease-in-out;
    overflow-y: auto;
    height: 100vh;
    font-size: 100%;
}

.menu-lateral a {
    text-decoration: none;
    padding:0;
    font-size: 100%;
}



#menu-lateral.visible {
    right: 0;
}

/* Animación del menú */
@keyframes slide-in {
    0% {
        right: -100%;
        opacity: 0;
    }

    100% {
        right: 0;
        opacity: 1;
    }
}

/* Animación del hover */
a:hover {
    text-decoration: underline;
    color: #007bff;
}

footer *{
    color:white;
    text-decoration: none;
}

footer *:hover{
    color:white;
    text-decoration: none;
}

.progress {
    animation: go-right-left 3s infinite alternate;
    /*aplicarlaanimación"go-left-right"alelementoduración3segundosnúmerodeveces:;
    infinitasalternarladireccióncadavez*/
    position: relative;
    border: 2px solid rgb(74 222 128 / var(--tw-text-opacity, 1));
    width: 100%;
    height: 4px;
    background: rgb(74 222 128 / var(--tw-text-opacity, 1));
    -webkit-animation: go-right-left 3s infinite alternate;
}

/* restricción para pantallas moviles */
#tarjeta:hover {
    transform: scale(1.1);
}

#fotojaime:hover {
    transform: scale(1.1);
    duration: 1000;
    transition: transform .2s;
}

#formacion:hover {
    transform: translateY(-5px);
}



#tarjeta {
    transition: transform .2s;
}


@media (prefers-color-scheme: light) {

    /* Estilos para el modo claro */
    .fade-in {
        opacity: 0;
        transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    }

.disenioboton{
    color:var(--color-primary-dark);
}

    .apartado {
        color: var(--color-primary-dark);
    }

    body {
        background: beige;
    }

    .container-animation {
        background: beige;
    }

    header h1 {
        color: var(--color-secondary-light);
        background: var(--color-background);
    }

    .subtitulo {
        color: var(--color-secondary-light);
    }

    .fade-in.visible {
        opacity: 1;
        transform: translateY(0);
    }

    footer {
        color: white;
    }

    #fotojaime {
        width: 300px;
        height: 300px;
        background-image: url('https://picsum.photos/id/237/300/300');
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }


    strong {
        /* color: rgb(31 41 55 / var(--tw-bg-opacity, 1)); */
    }

    header {
        margin-bottom: 50px;
    }

    h2 {
        margin-top: 50px;
    }

    .intro,
    .subtitulo {
        font-size: 25px;
    }

    .intro {
        text-align: justify;
        color: rgb(31 41 55 / var(--tw-bg-opacity, 1));
    }

    #about {
        margin-top: 50px;
        ;
    }
}


@media (prefers-color-scheme: dark) {

    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        font-family: 'Roboto';
        background: var(--color-background-dark);
    }

    /* Estilos para el modo oscuro */
    .fade-in {
        opacity: 0;
        transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    }

    .fade-in.visible {
        opacity: 1;
        transform: translateY(0);
    }

    #fotojaime {
        width: 300px;
        height: 300px;
        background-image: url('https://picsum.photos/id/237/300/300');
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }

    p strong {
        color: var(--color-secondary-dark)
    }


    strong {
        /* color: var(--color-primary-light); */
    }

    header {
        margin-bottom: 50px;
    }

    header h1 {
        color: var(--color-secondary-dark)
    }

    h2 {
        margin-top: 50px;
    }

    .intro,
    .subtitulo {
        font-size: 25px;
    }

    .subtitulo {
        color: white;
    }

    .intro {
        text-align: justify;
    }

    #about {
        margin-top: 50px;
        ;
    }

    .apartado {
        color: var(--color-secondary-dark);
    }

    @media (min-width: 768px) {
        .hover-highlight:hover {
            background-color: rgba(255, 255, 255, 0.2);
            transition: background-color 0.3s;
            transition: transform .2s;
        }
    }
}

.more {
    cursor: pointer;
    color: rgb(96 165 250);
  }
  
  .complete {
    display: none;
  }

  #linkedin {
    color: white;
  }

  #linkedin:hover {
    color: rgb(134 239 172);
  }