/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    font-size: 1.5vw;;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    min-height: 100vh;
}

/* Header */
header {
    background-color: #2c3e50;
    color: white;
    width: 100%;
    padding: 2vw;
    text-align: center;
}

h1 {
    font-size: 5vw;
}

input[type="submit"]{
    background-color: #e74c3c;
    margin-bottom: 50px;
    color: white;
    font-size: 1.5vw;
    padding: 1vw 2vw;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    width: 100%;
}
/* Main content */
main {
    padding-top:2vw;
    padding-left: 25%;
    padding-right: 25%;
    background-color: white;
    padding: 3vw;
    border-radius: 1vw;
    box-shadow: 0px 0px 1.5vw rgba(0, 0, 0, 0.1);
    width: 100%;

}

/* Section titles */
h2 {
    font-size: 1.5rem;
    margin-bottom: 1vw;
    color: #34495e;
}

/* Movie selection */
.movie-selection, .time-selection, .tickets-selection, .reservation-button {
    margin-bottom: 2vw;
}

select, input {
    width: 100%;
    padding: 1vw;
    font-size: 1.vw;
    border-radius: 0.5vw;
    margin-top: 0.5vw;
}

input[type="number"]{
    width: 100%;
    padding: 1vw;
    font-size: 1.vw;
    border-radius: 0.5vw;
    margin-top: 0.5vw;
}



/* Footer */
footer {
    background-color: #2c3e50;
    color: white;
    width: 100%;
    padding: 2vw;
    text-align: center;
}

footer p {
    font-size: 2vw;
}

div{
    display: grid;
    width: 100%;
    min-height: 100dvh;
    grid-template-rows: 
        auto 1fr auto;
}