/* General styles */
body {
    display:grid;
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Header */
.header {
    display:grid;
    width: 1200px;
    margin: auto;
    margin-top:10px;
    background-color: #5F8000;
    border-width: 10px;
    color: black;
    padding: 35px;
    padding-bottom: 1%;
    text-align: left;
    padding-left: 20px;
    border-radius: 10px;
}

.header h1 {
    margin-top:30px;
    font-size: 2.4em;

}

.header p {
    justify-content: left;
    margin: 0;
}

/* Menu */
.menu {
    margin-top: 10px;
    margin-left: 700px;
    justify-content: right;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #81AC00;
    border-radius: 5px;
}

.menu ul li a.active {
    background-color: #A4B96A;
}

.menu ul li a:hover {
    background-color: #A4B96A;
}

/* Main content */
.main-content {
    display: flex;
    margin:auto;
    padding: 20px;
    border-top: 1px solid;
    border-radius: 3%;
    width: 1200px;
}

.encabezado {
    background-color: #3366cc;
    border-radius: 10px;
    color: white;
    padding: 20px;
    font-weight: bold;
    text-align: left;
}

.left {
    width: 300px;
}

.right {
    width: 300px;
    align-items: stretch;
}

.center {
    width: 600px;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

.center .banner {
    margin-top: 10px;
    text-align: center;
    padding: 20px;
    font-size: 3em;
    color: #5F8000;
}

/* Footer */
footer {
    color: black;
    border: green 3px solid;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.logo{
    color:green;
    background-image:url("rellenoLogo.png") ;
}

.link{
    color: green;
    text-align: left;
}
