.parrafo1{
	padding: 30px;
	border: 2px solid black; ;
	background-color: rgb(106, 188, 255);
	margin: 30px 10px 50px 50px

}

.parrafo2{
	padding: 30px;
	border: 2px solid black; ;
	background-color: rgb(106, 188, 255);
	margin: 30px 10px 50px 50px

}

.parrafo3y4{
	padding: 30px;
	border: 2px solid black; ;
	background-color: rgb(106, 188, 255);
	margin: 30px 10px 50px 50px
}