/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body {
    background-color: #f4f1e1;
    color: #333;
    line-height: 1.6;
    background-image: url("Im치genes/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover; /* Hace que la imagen ocupe toda la ventana */
    background-attachment: fixed; /* Fija el fondo en su lugar al hacer scroll */
    background-position: center; /* Centra la imagen en la pantalla */
}


header,
footer {
    background: #8b5e3c;
    color: #fff;
    text-align: center;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    color: white;
    margin-bottom: 100px;
}

footer {
    /* fijar pie de p치gina debajo del contenido */
    bottom: 0;
    padding: 10px;
    width: 100%;
    margin-top:100px;
    color:white;
}


footer::after{
    content: "Proyecto desarrollado por Jaime Molina Granados";
}

#logo {
    width: 150px;
    height: 150px;
    background-image: url("logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right:135px;

}

ul li strong {
    color: #bf9141;
}

main ul li::before {
    content: "游 ";
    font-size: 0.9em;
}

nav a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

h2 {
    text-align: center;
    color: #8b5e3c;
    /* Marr칩n oscuro */
}

/* Secci칩n de Noticias */

.noticia-item {
    display: flex;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 25px;;
    width: 100%;
}

.noticia-item:hover {
    transform: scale(1.02);
}

.noticia-item img {
    max-width: 200px;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.noticia-image img:hover {
    transform: scale(1.1);
}

.noticia-content {
    padding: 1rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.noticia-title {
    font-size: 1.5rem;
    color: #333;
}

h3 {
    font-size: 16px;
    margin-left: 15px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.noticia-content p {
    font-size: 1rem;
    color: #555;
    margin: 0.5rem 0;
}

main {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
    padding: 5rem;
    background: rgb(255, 254, 216);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
}

form {
    margin-bottom: 1vw;
    padding: 1vw;
    background-color: #f2f2f2;
    border-radius: 2%;
}


input[type="text"],
[type="email"],
[type="submit"] {
    width: 10vw;
}

/* Testimonios */
.testimonios {
    display: grid;
    gap: 2vw;
    padding: 2vw;
}


.testimonio-item {
    display: flex;
    align-items: center;
    padding: 1.5vw;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.testimonio-item:hover {
    transform: scale(1.02);
}

.testimonio-item img {
    width: 100%;
    height: 100%;
    max-width: 80px;
    max-height: 80px;
    margin-right: 1.5vw;
    object-fit: cover;
    border-radius: 100%;
}

.juegos p img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 1rem;
}

.juegos ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
}

.juegos ul li {
    flex: 1 1 33%;
    padding: 0.5rem;
    background: #fafafa;
    margin-bottom: 0.5rem;
    border-radius: 5px;
}

.juegos p {
    text-align: left;
}

.juegos img {
    max-width: 40%;
    height: auto;
}



.testimonio-texto h3 {
    margin: 0;
    font-size: 1.2em;
}

.ocupacion {
    font-size: 0.9em;
    color: #666;
    margin: 0.2em 0;
}

.testimonio-texto p {
    margin-top: 0.5em;
    color: #333;
}

/* Calendario */
.calendario {
    margin: 2vw auto;
    max-width: 100%;
    padding: 2vw;
    border-radius: 8px;
    background: rgb(255, 255, 255);
}

.listado-citas {
    margin: 2vw auto;
    max-width: 100%;
    padding: 2vw;
    border-radius: 8px;
    background: rgb(255, 255, 255);
}

.mes {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1vw;
    text-align: center;
    font-weight: bold;
}

.semana {
    display: contents;
}

.dias {
    display: contents;
}

.dia,
.dia-celda {
    padding: 1vw;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
}

.dia-celda:hover {
    background-color: #e2e2e2;
    cursor: pointer;
}

.dia-celda.celebracion {
    background-color: #ffd966;
}

/* Listado de Citas */
.listado-citas {
    padding: 2vw;
}

.cita-item {
    padding: 1.5vw;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cita-item h3 {
    margin: 0;
}

.cita-item p {
    margin: 0.5em 0;
}

/* Secci칩n de Servicio */

.servicio-item {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 25px;;
    width: 100%;
}

.servicio-item:hover {
    transform: scale(1.02);
}

.servicio-item img {
    min-width: 400px;
    height: 200px;
    overflow: hidden;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.servicio-image img:hover {
    transform: scale(1.1);
}

.servicio-content {
    padding: 1rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.servicio-title {
    font-size: 1.5rem;
    color: #333;
}

h3 {
    color:#bf9141;
    font-size: 16px;
    margin-left: 15px;
}

h3 p {
    color:black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.servicio-content p {
    font-size: 1rem;
    color: #555;
    margin: 0.5rem 0;
}

nav {
    margin: 1%;
    text-align: center;
}

nav a {
    background: #8b5e3c;
    border-radius: 5%;
    margin: 0%;
    margin-right: 1%;
    padding: 0.5% 0.5%;
}

nav a:hover {
    background: #bf9141;
    color: #fff;
}

.fotoprincipal {
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
    text-align: center;
}

section .carousel {
    padding-top: 0;
}

.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-track {
    display: flex;
    animation: slide 10s linear infinite;
}

.carousel-track img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

/* Animaci칩n para deslizar las im치genes hacia la izquierda en un bucle continuo */
@keyframes slide {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-50%);
    }
}

#retenedor {
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    background-image: url("Im치genes/cliente1.jpg");
    border-radius: 50%;
}


#juegos {
    padding: 0;
}

.menu-dropdown {
    position: relative;
}

.menu-button {
    background-color: #795234;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 32px;
}

/* Oculta el men칰 por defecto */
.menu-items {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #666;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    min-width: 150px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.menu-items li {
    width: 100%;
}

.menu-items li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.menu-items li a:hover {
    background-color: #795234;
}

/* Muestra el men칰 al pasar el mouse */
.menu-dropdown:hover .menu-items {
    display: block;
}

.presentacion::first-letter{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
}

.navegador{
    width: 40%;
}

.logo{
    width: 30%;
}

@media(width <=800px)
{
    header{
        background: gray;
    }
}

h2 + p {
    color: red;
    font-weight: bold;
}

p ~ span {
    color: green;
    font-style: italic;
}

ul > li {
    color: blue;
    font-size: 1.2em;
}

div span {
    color: purple;
    text-decoration: underline;
}

input[type="text"] {
    border: 2px solid #ccc;
    padding: 5px;
}